{% extends 'base.html.twig' %}

{% block body %}
    <p>
        <a href="{{ path('company_list') }}">Список компаний</a>
    </p>
    <p>
        <a href="{{ path('resume_list') }}">Список резюме</a>
    </p>
    <p>
        <a href="">Статистика</a>
    </p>
{% endblock %}